# tmp files
*~
.~*
*.temp
*.tmp
*.swp
*.db
*.log
*.pid
*.seed
*.sqlite3
*.pid.lock
*.mo
*.pot
*.cover
.coverage
.coverage.*
pip-log.txt
*.egg
*.scrapy
.ipynb_checkpoints
celerybeat-schedule
.pytest_cache/
.cache
.webassets-cache
.installed.cfg
eggs/
.eggs/
*.egg-info/
.bash_history
.oracle_jre_usage/


# middle files
*.o
*.obj
*.pyc


# others
.tox/
.nox/
./image
.hypothesis/
htmlcov/


# media files
*.mp4


# os files
.DS_Store


# tool files
*.iml
.idea
.grunt
.npm
.next
.nuxt
.m2
.mvn


# target files
*.class
target
out
*.gz
*.tar
*.zip
*.jar
*.rpm


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.box
*.vbox
*.vdi
application-dev.yml
deps/


# Obj-C/Swift specific
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
